<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>Admin page</title>
    <style>
        body { background: linear-gradient(to right, white 16.7%, #f0f0f0 16.7%); }
        ul {
            list-style: none;
        }
        li {
            list-style-type: none;
        }
        .custom-button {
            background-color: white; /* Устанавливает белый цвет фона для кнопки */
            color: blue; /* Устанавливает цвет текста кнопки */
            border: none; /* Убирает границы кнопки */
            font-weight: normal; /* Делает текст кнопки тонким */
            padding: 10px 20px; /* Добавляет внутренние отступы для кнопки (по вашему желанию) */
            cursor: pointer; /* Меняет курсор на указатель при наведении */
        }

        .custom-button:hover {
            background-color: #f0f0f0; /* Изменение цвета фона при наведении */
            color: blue; /* Цвет текста останется черным при наведении */
        }
    </style>
</head>
<body>

<nav class="navbar navbar-expand-xl navbar-dark text-white bg-dark">
    <div class="container-fluid">
        <div class="collapse navbar-collapse show" id="navbarDark">
            <ul class="navbar-nav me-auto mb-2 mb-xl-0">
                <span class="align-middle font-weight-bold mr-1" th:text="${admin.getEmail()}"></span>
                <span class="align-middle mr-1">with roles:</span>
                <span class="align-middle" th:each="role : ${admin.getRoles()}" th:text="${admin.getRolesName()}"></span>
            </ul>
        </div>
        <form th:action="@{/logout}" method="post">
            <button type="submit" class="btn btn-dark text-secondary">Logout</button>
        </form>
    </div>
</nav>

<div class="container-fluid" style="margin-top: 10px;">
    <div class="row">
        <div class="p-0 col-2">
            <div class="nav flex-column nav-pills pt-2" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <button class="nav-link active custom-button" id="admin-tab" data-toggle="pill" data-target="#admin-panel" type="button"
                        role="tab" aria-controls="admin-panel" aria-selected="true">Admin</button>
                <button class="nav-link custom-button" id="user-tab" data-toggle="pill" data-target="#user-panel" type="button"
                        role="tab" aria-controls="user-panel" aria-selected="false">User</button>
            </div>
        </div>

        <div class="col-10 px-0">
            <div class="container-fluid">

                <div class="tab-content">
                    <!-- Admin Panel -->
                    <div class="tab-pane fade show active" id="admin-panel" role="tabpanel" aria-labelledby="admin-tab">
                        <h1>ADMIN PAGE</h1>
                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#usersTable">Users Table</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#addUser">New User</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="usersTable">
                                <div class="card">
                                    <div class="card-header">
                                        <h4>All users</h4>
                                    </div>
                                    <div class="card-body">
                                        <table class="table table-striped">
                                            <tr>
                                                <th>ID</th>
                                                <th>UserName</th>
                                                <th>Age</th>
                                                <th>Email</th>
                                                <th>Role</th>
                                                <th>EDIT</th>
                                                <th>DELETE</th>
                                            </tr>
                                            <tr th:each="user : ${users}">
                                                <td th:text="${user.getId()}"></td>
                                                <td th:text="${user.getUserName()}"></td>
                                                <td th:text="${user.age}"></td>
                                                <td th:text="${user.email}"></td>
                                                <td><li th:each="role : ${user.getRoles()}" th:text="${user.getRolesName()}"></li></td>
                                                <td>
                                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editModal"
                                                            th:data-target="${'#edituser'+user.id}">Edit</button>
                                                </td>
                                                <td>
                                                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal"
                                                            th:data-target="${'#deleteModal'+user.id}">Delete</button>
                                                </td>

                                                <!-- EDIT -->
                                                <div class="modal fade" th:id="${'edituser'+user.getId()}" tabindex="-1"
                                                     role="dialog"
                                                     aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                    <form th:method="POST" th:action="@{/admin/{id}(id=${user.getId()})}">
                                                        <input type="hidden" th:name="id" th:value="${user.getId()}"/>
                                                        <div class="modal-dialog" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title" id="exampleModalLabel2">Edit
                                                                        user</h5>
                                                                    <button type="button" class="close" data-dismiss="modal"
                                                                            aria-label="Close">
                                                                        <span aria-hidden="true">&times;</span>
                                                                    </button>
                                                                </div>
                                                                <div class="modal-body text-center">

                                                                    <div class="form-group">
                                                                        <label for="id1"
                                                                               class="col-form-label"><b>ID:</b></label>
                                                                        <input th:type="text" class="form-control" id="id1"
                                                                               th:value="${user.getId()}"
                                                                               th:name="id" disabled/>
                                                                    </div>

                                                                    <div class="form-group">
                                                                        <label for="name1"
                                                                               class="col-form-label"><b>Name:</b></label>
                                                                        <input type="text" class="form-control" id="name1"
                                                                               th:value="${user.getUserName()}"
                                                                               th:name="userName">
                                                                    </div>

                                                                    <div class="form-group">
                                                                        <label for="age"
                                                                               class="col-form-label"><b>Age:</b></label>
                                                                        <input type="number" class="form-control" id="age"
                                                                               th:value="${user.getAge()}"
                                                                               th:name="age">
                                                                    </div>

                                                                    <div class="form-group">
                                                                        <label for="email1"
                                                                               class="col-form-label"><b>Email:</b></label>
                                                                        <input type="email" class="form-control" id="email1"
                                                                               th:value="${user.getEmail()}"
                                                                               th:name="email">
                                                                    </div>

                                                                    <div class="form-group">
                                                                        <label for="password1" class="col-form-label"><b>Password:</b></label>
                                                                        <input type="password" class="form-control" id="password1"
                                                                               th:value="${user.getPassword()}"
                                                                               th:name="password">
                                                                    </div>

                                                                    <div class="form-group">
                                                                        <label for="roles1"><b>Role</b></label>
                                                                        <select multiple class="form-control form-control-sm" id="roles1" th:name="roleIds" size="3" required>
                                                                            <option th:each="role : ${roleList}"
                                                                                    th:text="${role.name.replace('ROLE_', '')}"
                                                                                    th:value="${role.id}"
                                                                                    class="m-2">
                                                                            </option>
                                                                        </select>
                                                                    </div>
                                                                </div>

                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-secondary"
                                                                            data-dismiss="modal">Close
                                                                    </button>
                                                                    <button type="submit" class="btn btn-primary">Save</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>

                                                <!-- DELETE -->
                                                <div class="modal fade" th:id="${'deleteModal' + user.getId()}" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog modal-dialog-centered">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="deleteModalLabel">Delete user</h5>
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <form th:method="POST" th:action="@{/admin/admin/{id}(id=${user.getId()})}">
                                                                <input type="hidden" name="_method" value="DELETE"/>
                                                                <div class="modal-body text-center">
                                                                    <div class="form-group">
                                                                        <label for="id2" class="col-form-label"><b>ID:</b></label>
                                                                        <input th:type="text" class="form-control" id="id2" th:value="${user.getId()}" th:name="id" disabled />
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="name2" class="col-form-label"><b>Name:</b></label>
                                                                        <input type="text" class="form-control" id="name2" th:value="${user.getUserName()}" th:name="name" disabled />
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="age1" class="col-form-label"><b>Age:</b></label>
                                                                        <input type="text" class="form-control" id="age1" th:value="${user.getAge()}" th:name="age" disabled />
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="email2" class="col-form-label"><b>Email:</b></label>
                                                                        <input type="text" class="form-control" id="email2" th:value="${user.getEmail()}" th:name="email" disabled />
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="roles2"><b>Role</b></label>
                                                                        <select multiple class="form-control form-control-sm" id="roles2" name="listRoles" size="3" required disabled>
                                                                            <option th:each="role: ${roleList}" th:text="${role.name.replace('ROLE_', '')}" th:value="${role.id}" class="m-2" disabled />
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                                    <button type="submit" class="btn btn-danger">Delete</button>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>

                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane fade" id="addUser">
                                <h4>Add new User</h4>
                                <form th:action="@{/admin}" th:object="${admin}" method="POST">
                                    <!-- Form content for adding new user -->
                                </form>
                            </div>
                        </div>
                    </div>

                    <!-- User Panel -->
                    <div class="tab-pane fade" id="user-panel" role="tabpanel" aria-labelledby="user-tab">
                        <h1 style="margin-left: 10px;">User information-page</h1>
                        <div class="card">
                            <div class="card-body">
                                <h4>About user</h4>
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Username</th>
                                        <th>Age</th>
                                        <th>Email</th>
                                        <th>Role</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td th:text="${admin.id}"></td>
                                        <td th:text="${admin.userName}"></td>
                                        <td th:text="${admin.age}"></td>
                                        <td th:text="${admin.email}"></td>
                                        <td th:text="${admin.getRolesName()}"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

 <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>