<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>Admin page</title>
    <style>
        body { background: linear-gradient(to right, white 16.7%, #f0f0f0 16.7%); }
        ul { list-style: none; }
        li { list-style-type: none; }
        .custom-button {
            background-color: white;
            color: blue;
            border: none;
            font-weight: normal;
            padding: 10px 20px;
            cursor: pointer;
        }
        .custom-button:hover { background-color: #f0f0f0; color: blue; }
        .table th { background-color: white; color: black; }
        .custom-button:focus { outline: none; box-shadow: none; }
    </style>
</head>
<body>

<nav class="navbar navbar-expand-xl navbar-dark text-white bg-dark">
    <div class="container-fluid">
        <div class="collapse navbar-collapse show" id="navbarDark">
            <ul class="navbar-nav me-auto mb-2 mb-xl-0">
                <span class="align-middle font-weight-bold mr-1" id="headAdminName"></span>
                <span class="align-middle mr-1">with roles:</span>
                <span class="align-middle" id="headAdminRoles"></span>
            </ul>
        </div>
        <form action="/logout" method="post">
            <button type="submit" class="btn btn-dark text-secondary">Logout</button>
        </form>
    </div>
</nav>

<div class="container-fluid" style="margin-top: 10px;">
    <div class="row">
        <div class="p-0 col-2">
            <div class="nav flex-column nav-pills pt-2" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <button class="nav-link active custom-button" id="admin-tab" data-toggle="pill" data-target="#admin-panel" type="button" role="tab" aria-controls="admin-panel" aria-selected="true">Admin</button>
                <button class="nav-link custom-button" id="user-tab" data-toggle="pill" data-target="#user-panel" type="button" role="tab" aria-controls="user-panel" aria-selected="false">User</button>
            </div>
        </div>

        <div class="col-10 px-0">
            <div class="container-fluid">
                <div class="tab-content">

                    <!-- Admin Panel -->
                    <div class="tab-pane fade show active" id="admin-panel" role="tabpanel" aria-labelledby="admin-tab">
                        <h1>ADMIN PAGE</h1>
                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#usersTable">Users Table</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#addUser">New User</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="usersTable">
                                <div class="card">
                                    <div class="card-header">
                                        <h4>All users</h4>
                                    </div>
                                    <div class="card-body">
                                        <table class="table table-striped">
                                            <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>UserName</th>
                                                <th>Age</th>
                                                <th>Email</th>
                                                <th>Role</th>
                                                <th>EDIT</th>
                                                <th>DELETE</th>
                                            </tr>
                                            </thead>
                                            <tbody id="allUsersBody"></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <!-- ADD NEW USER -->
                            <div class="tab-pane fade" id="addUser">
                                <table class="table" style="background-color: white;">
                                    <thead style="background: #f0f0f0">
                                    <tr>
                                        <th colspan="2" class="text-left">Add new User</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td colspan="2">
                                            <form id="addUserForm" class="offset-md-4 col-md-3 mt-4 mb-4" method="POST" onsubmit="newUser(event)">
                                                <label for="name"><b>Username</b></label>
                                                <input name="userName" type="text" class="form-control" id="name" required/>
                                                <br>
                                                <label for="age"><b>Age</b></label>
                                                <input name="age" type="number" class="form-control" id="age"/>
                                                <br>
                                                <label for="email"><b>Email</b></label>
                                                <input name="email" type="email" class="form-control" id="email" required/>
                                                <br>
                                                <label for="password"><b>Password</b></label>
                                                <input name="password" type="password" class="form-control" id="password" required/>
                                                <br>
                                                <label for="roles"><b>Role</b></label>
                                                <select multiple class="form-control form-control-sm" id="roles" name="roles" size="2" required>
                                                </select>
                                                <br>
                                                <button type="submit" class="btn btn-success" value="Add new user">Add new user</button>
                                            </form>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <!-- User Panel -->
                    <div class="tab-pane fade" id="user-panel" role="tabpanel" aria-labelledby="user-tab">
                        <h1 style="margin-left: 10px;">User information-page</h1>
                        <div class="card">
                            <div class="card-body">
                                <h4>About user</h4>
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Username</th>
                                        <th>Age</th>
                                        <th>Email</th>
                                        <th>Role</th>
                                    </tr>
                                    </thead>
                                    <tbody id="oneUserBody"></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Edit Modal -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Edit User</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="editUser">
                <div class="modal-body text-center">
                    <label for="editId"><b>ID</b></label>
                    <input class="form-control" id="editId" name="id" readonly="readonly" />
                    <label for="editUserName"><b>Name</b></label>
                    <input class="form-control" id="editUserName" name="userName" required />
                    <label for="editAge"><b>Age</b></label>
                    <input class="form-control" id="editAge" name="age" required />
                    <label for="editEmail"><b>Email</b></label>
                    <input class="form-control" id="editEmail" name="email" required />
                    <label for="editPassword"><b>Password</b></label>
                    <input class="form-control" id="editPassword" name="password" required />
                    <label for="editRoles"><b>Role</b></label>
                    <select multiple class="form-control" id="editRoles" name="editRoles" size="2"></select>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Edit</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Delete Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete user</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="deleteUserForm" method="POST">
                <div class="modal-body text-center">
                    <div class="form-group">
                        <label for="idDel" class="col-form-label"><b>ID:</b></label>
                        <input type="text" class="form-control" id="idDel" name="id" disabled />
                    </div>
                    <div class="form-group">
                        <label for="nameDel" class="col-form-label"><b>Name:</b></label>
                        <input type="text" class="form-control" id="nameDel" name="name" disabled />
                    </div>
                    <div class="form-group">
                        <label for="ageDel" class="col-form-label"><b>Age:</b></label>
                        <input type="text" class="form-control" id="ageDel" name="age" disabled />
                    </div>
                    <div class="form-group">
                        <label for="emailDel" class="col-form-label"><b>Email:</b></label>
                        <input type="text" class="form-control" id="emailDel" name="email" disabled />
                    </div>
                    <div class="form-group">
                        <label for="passwordDel" class="col-form-label"><b>Password:</b></label>
                        <input type="text" class="form-control" id="passwordDel" name="password" disabled />
                    </div>
                    <label for="rolesDel"></label>
                    <select multiple class="form-control form-control-sm" id="rolesDel" name="role" size="2" disabled>
                        <option id="rolesDel2" value="1">USER</option>
                        <option id="rolesDel1" value="2">ADMIN</option>
                    </select>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" id="closeDeleteModal">Close</button>
                    <button type="submit" class="btn btn-danger">Delete</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="/admin.js"></script>

</body>
</html>