<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update User</title>
</head>
<body>
<h1 style="color:black; font-size: 24px; font-weight: bold;">User Profile</h1>
<br>
<form th:method="POST" th:action="@{/admin/update(id=${user.id})}" th:object="${user}">
    <input type="hidden" th:field="*{id}" />

    <br> <label for="name">username </label>
    <input type="text" th:field="*{userName}" id="name"/>

    <br> <label for="password">password </label>
    <input type="text" th:field="*{password}" id="password"/>

    <br><label for="age">age </label>
    <input type="text" th:field="*{age}" id="age"/>

    <br> <label for="email">email </label>
    <input type="text" th:field="*{email}" id="email"/>

    <br><br> <input type="submit" value="Update!">

    <br>
</form>
<a href="/logout">Logout</a>
</body>
</html>